{% extends "BillMinder/base.html" %}
{% block title %}Detail{% endblock %}
{% block head %}
	<script type="text/javascript">
		var BillMinder = {
			billID: "{{bill.id}}"
		};
	</script>
	<link href="{{ STATIC_URL }}css/pages/BillMinder/detail.css" />
	<script src="{{ STATIC_URL }}js/pages/BillMinder/detail.js"></script>
{% endblock %}
{% block content %}
	{% csrf_token %}
	<h2>{{bill.name}}</h2>
	<input type="button" onclick="showPayment()" value="Show Payment Form" />
	<div id="divTest"></div>
	<div id="divAddEntry" style="display: none">
		<table>
			<tbody>
				<tr>
					<th>
						Payment Date
					</th>
					<td>
						<input type="text" id="txtPaymentDate" />
					</td>
				</tr>
				<tr>
					<th>Payment Amount</th>
					<td><input type="text" id="txtPaymentAmount" value="{{bill.default_amount}}" /></td>
				</tr>
				<tr>
					<th>Confirmation Number</th>
					<td><input type="text" id="txtConfirmationNumber" /></td>
				</tr>
				<tr>
					<th>Notes</th>
					<td><input type="text" id="txtNotes" style="width: 400px" /></td>
				</tr>
				<tr>
					<th><label for="txtReminderDays">Remind me again in</label></th>
					<td>
						<input id="txtReminderDays" style="width: 40px" value="{{bill.default_reminder_days}}" />
						<label for="txtReminderDays">days</label>
					</td>
				</tr>
				<tr>
					<td></td>
					<td><input type="button" onclick="makePayment()" value="Submit" /></td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<canvas id="billChart" width="900px" height="400px"></canvas>
	
	<div id="divGraph">
		<!-- jqPlot graph goes here -->
	</div>
	<div id="divRecentPayments">
		<!-- list of last 12(?) payments goes here, option to show all -->
	</div>
{% endblock %}
